<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Airport Home</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="fonts/ionicons.min.css" />
    <link rel="stylesheet" href="css/Login-Form-Dark.css" />
    <link rel="stylesheet" href="css/Navigation-with-Button.css" />
    <link rel="stylesheet" href="css/styles.css" />
  </head>

  <body>
    <div></div>
    <div class="login-dark">
      <form method="get">
        <h2 class="text-center text-primary">Airport Home</h2>
        <div class="illustration">
          <i
            class="icon ion-plane"
            style="background-size:contain;background-repeat:no-repeat;"
          ></i>
        </div>

        <button class="btn btn-primary btn-block">
          <a href="/addairline" style="color:white;"> Add Airline</a>
        </button>
        <button class="btn btn-primary btn-block">
          <a href="/addsecurity" style="color:white;">
            Add Security
          </a>
        </button>
        <button class="btn btn-primary btn-block">
          <a href="/logout" style="color:white;"> Logout</a>
        </button>
      </form>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
