<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CancelBooking</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/Login-Form-Dark.css" />
    <link rel="stylesheet" href="css/styles.css" />
  </head>

  <body>
    <div class="login-dark">
      <form
        method="post"
        action="admin/cancelbooking"
        style="margin:0px;padding:48px;height:427px;"
        id="form"
      >
        <h1 class="text-center text-primary">Cancel Booking</h1>
        <input
          class="form-control form-control-lg"
          type="text"
          name="booking_id"
          placeholder="Booking ID"
        />
        <div class="form-group">
          <button class="btn btn-primary btn-block btn-lg" type="submit">
            Cancel
          </button>
        </div>
      </form>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/delbooking.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
