<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                   integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                   crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                   integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                   crossorigin="anonymous"></script>

    <title>Show details</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/Login-Form-Dark.css" />
    <link rel="stylesheet" href="css/styles.css" />
  </head>

  <body>
    <div class="login-dark">
        <div class="table-responsive" style="margin:26px 0px;">
          <% if(access == 1){%>
          <table class="table">
            <thead>
              <tr>
                <th>name</th>
                <th>age</th>
                <th>airline</th>
              </tr>
            </thead>
            <tbody>
              <%for(var i=0;i < view.pilots.length; i++){%>
              <tr>
                <td>view.pilots.name</td>
                <td>view.pilots.age</td>
                <td>view.pilots.airline</td>
              </tr>
              <%}%>
            </tbody>
          </table>
          <%}%>
        </div>
      </form>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
