<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show details</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/Login-Form-Dark.css" />
    <link rel="stylesheet" href="css/styles.css" />
  </head>

  <body>
    <div class="login-dark">
      <form method="post" style="height:458px;">
        <h2 class="sr-only">Login Form</h2>
        <div class="dropdown">
          <button
            class="btn btn-primary btn-lg dropdown-toggle"
            data-toggle="dropdown"
            aria-expanded="false"
            type="button"
          >
            Select Employee Group
          </button>
          <div class="dropdown-menu dropdown-menu-left" role="menu">
            <a class="dropdown-item" role="presentation" href="#">Pilots</a
            ><a class="dropdown-item" role="presentation" href="#">Cabin Crew</a
            ><a class="dropdown-item" role="presentation" href="#"
              >Ground Staffs</a
            >
          </div>
        </div>
        <button
          class="btn btn-primary align-self-center"
          type="button"
          style="margin:26px 80px 0px;"
        >
          Show
        </button>
        <div class="table-responsive" style="margin:26px 0px;">
          <table class="table">
            <thead>
              <tr>
                <th>Column 1</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </form>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
